### Challenge

Answer following questions using our database:

1. **How many expeditions went to the peak of Everest?**
2. **How many people went to the peak of Everest? (One person could have gone more than once)**

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("himalayas.db")
# no db provided

In [ ]:
len(pd.read_sql("""
    select E.expid,
        p.pkname
    from exped as E
    inner join Peaks as P
        on E.peakid = P.peakid
    where pkname = 'Everest'
""",conn))

# 2,161 expediations when to the peak of Everest

In [ ]:
len(pd.read_sql("""
    select P.pkname, 
        M.fname,
        M.lname,
        M.expid
    from peaks as P
    inner join members as M
        on P.peakid = M.peakid
    where P.pkname = 'Everest'
""",conn))
# 21,900 ppl went to Everest